<h2>Action Speed X</h2>

<div>
	<h3>Armor module</h3>
	<input type="checkbox" ng-model="settings.ActionSpeedX.descriptions" />
    <span>Armor Descriptions</span>
    <br>
    <input type="checkbox" ng-model="settings.ActionSpeedX.moveSpeed" />
    <span>Movement Speed</span>
    <br>
	<input type="checkbox" ng-model="settings.ActionSpeedX.attackSpeed" />
    <span>Attack Speed</span>
    <br>
	<input type="checkbox" ng-model="settings.ActionSpeedX.rangedSpeed" />
    <span>Ranged Attack Speed </span>
    <br>
	<input type="checkbox" ng-model="settings.ActionSpeedX.staminaRegen" />
    <span>Stamina Regeneration</span>
    <br>
	<input type="checkbox" ng-model="settings.ActionSpeedX.magickaRegen" />
    <span>Magicka Regeneration</span>
    <br>
    <input type="checkbox" ng-model="settings.ActionSpeedX.powerAttacks" />
    <span>Power Attack Costs</span>
    <br>
	<input type="checkbox" ng-model="settings.ActionSpeedX.spellCosts" />
    <span>Spell Costs</span>
	<br>
	<input type="checkbox" ng-model="settings.ActionSpeedX.balancePerks" />
    <span>Balance Perk Mods</span>
	<br>
	<h3>Races, Factions</h3>
	<input type="checkbox" ng-model="settings.ActionSpeedX.racialAbilities" />
    <span>Enable Racial Proficiencies</span>
    <br>
    <input type="checkbox" ng-model="settings.ActionSpeedX.allowFactions" />
    <span>Enable Faction Proficiencies(Experimental!)</span>
    <br>
	
</div>